<div class="e-acrdn-item e-select e-expand-state e-selected e-active" id="acrdn_item_78" aria-expanded="true" style="">
    <div class="e-acrdn-header" id="acrdn_header_79" tabindex="0" role="heading" aria-selected="true"
        aria-disabled="false" aria-level="82" aria-controls="acrdn_panel_164">
        <div class="e-acrdn-header-content">DropDownList</div>
        <div class="e-toggle-icon"><span class="e-tgl-collapse-icon e-icons e-expand-icon"></span></div>
    </div>
    <div class="e-acrdn-panel" id="acrdn_panel_164" aria-hidden="false" aria-labelledby="acrdn_header_79"
        role="definition" style="">
        <div class="e-acrdn-content">
            <div id="drop-down-list" class="toc-tree e-control e-treeview e-lib e-fullrow-wrap e-touch e-keyboard"
                role="tree" tabindex="0" aria-activedescendant="drop-down-list_active">
                <ul class="e-list-parent e-ul " role="tree">
                    <li class="e-list-item e-level-1 e-node-focus" role="treeitem"
                        data-uid="/drop-down-list/getting-started/" aria-level="1" id="drop-down-list_active">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">Getting Started</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/data-binding/"
                        aria-level="1">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">Data Binding</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/templates/"
                        aria-level="1">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">Templates</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/grouping/"
                        aria-level="1">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">Grouping</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/filtering/"
                        aria-level="1">
                        <div class="e-fullrow"></div>
                        <div class="e-text-content"><span class="e-list-text">Filtering</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/localization/"
                        aria-level="1">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">Localization</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/accessibility/"
                        aria-level="1">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">Accessibility</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/form-support/"
                        aria-level="1">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">Form Support</span></div>
                    </li>
                    <li class="e-list-item e-level-1 e-has-child e-node-collapsed" role="treeitem" data-uid="how-to"
                        aria-level="1" aria-expanded="false">
                        <div class="e-fullrow"></div>
                        <div class="e-text-content e-icon-wrapper">
                            <div class="e-icons e-icon-expandable"></div><span class="e-list-text">How To</span>
                        </div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/drop-down-list/ej1-api-migration/"
                        aria-level="1">
                        <div class="e-fullrow"></div>
                        <div class="e-text-content"><span class="e-list-text">Migration from Essential JS 1</span></div>
                    </li>
                    <li class="e-list-item e-level-1" role="treeitem" data-uid="/api/drop-down-list/" aria-level="1">
                        <div class="e-fullrow" style="height: 32px;"></div>
                        <div class="e-text-content"><span class="e-list-text">API Reference</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>