<!--first row-->
<div class="clearfix">&nbsp;</div>
<div class="card rows">
    <div class="card-body">
        <div class="clearfix">&nbsp;</div>
        <div class="row rows">
            <div class="col-md-6">
                <button class="btn btn-rounded btn-md text-white mr-2" style="background-color: #6610f2;"
                    (click)="openMediumModalPopup(addproducts);clear(ServiceData)"
                    title="click here for Registration">Received Product
                </button>


            </div>
            <div class="col-md-6">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <!-- <input type="text" [(ngModel)]="searchText" class="form-control btn-radius"
                        placeholder="Search By category"> -->
                </div>
            </div>
        </div>
        <!--second row-->
        <div class="row">

        </div>
        <div class="clearfix">&nbsp;</div>
        <!--this is for no data found table-->
        <div class="row">
            <div class="col-md-12 text-center middle">
                <!-- <div *ngIf="show==true">
                    <img src="assets/images/img_empty_statues.png" class="nodataimage" alt="No Data Image">
                    <h4>{{tabledatanotfound}}</h4>
                </div> -->
            </div>
        </div>
        <!--Index list of Sub category names view-->
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th class="text-white">S.No</th>
                                <th class="text-white">Request Id</th>

                                <th class="text-white">Manufacture Id</th>
                                <th class="text-white">Product Id</th>
                                <th class="text-white">Product Name</th>
                                <th class="text-white">Quantity</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of matid; let i=index">
                                <td>{{i+1}}</td>
                                <td class="requestid" (click)="row($event)"><u style="color: #ff701d95;">{{data[0]}}</u>
                                </td>
                                <td class="elips">{{data[1]}}</td>
                                <td class="elips">{{data[3]}}</td>
                                <td class="elips">{{data[4]}}</td>
                                <td class="elips">{{data[5]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--adding spa category modal popup-->
        <ng-template #addproducts let-c="close" let-d="dismiss">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="modal-body">
                        <h4 class="text-center font-medium text-dark"></h4>
                        <!-- addingUniversity(ServiceData)" -->
                        <form #universityForm="ngForm" (ngSubmit)="universityForm.form.valid">
                            <div class=" row">
                                <!--Category Name-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="regsiterproductID">Request Id</label>
                                        <input type="text" id="regsiterproductID" name="productid"
                                            placeholder="Request ID" class="form-control form_color"
                                            [(ngModel)]="ServiceData.materialid" #productID="ngModel"
                                            [ngClass]="{'is-invalid': universityForm.submitted && productID.invalid}"
                                            required />
                                        <div class="invalid-feedback"
                                            *ngIf="universityForm.submitted && productID.invalid">
                                            <div *ngIf="productID.errors.required">Request Id is Required</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-12 text-center">
                                <!-- <span class="text-danger">{{addingError}}</span> -->
                            </div>
                            <!--Modal footer for In Room dining editing-->
                            <div class="modal-footer">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-rounded btn-save text-white"
                                        *ngIf="universityForm.form.invalid">Submit</button>&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-rounded btn-save text-white"
                                        *ngIf="universityForm.form.valid"
                                        (click)="closing();receivedatdistributer(ServiceData)">Submit</button>&nbsp;&nbsp;
                                    <button type="reset" class="btn btn-rounded btn-cancel text-white"
                                        (click)="d('Cross click');clear(ServiceData)"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </ng-template>


    </div>

</div>