<!--first row-->
<div class="clearfix">&nbsp;</div>
<div class="card rows">
    <div class="card-body">
        <div class="clearfix">&nbsp;</div>
        <div class="row rows">
          
            <div class="col-md-6">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <!-- <input type="text" [(ngModel)]="searchText" class="form-control btn-radius"
                        placeholder="Search By category"> -->
                </div>
            </div>
        </div>
        <!--second row-->
        <div class="row">
        
        </div>
        <div class="clearfix">&nbsp;</div>
        <!--this is for no data found table-->
        <div class="row">
            <div class="col-md-12 text-center middle">
                <!-- <div *ngIf="show==true">
                    <img src="assets/images/img_empty_statues.png" class="nodataimage" alt="No Data Image">
                    <h4>{{tabledatanotfound}}</h4>
                </div> -->
            </div>
        </div>
        <!--Index list of Sub category names view-->
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th class="text-white">S.No</th>
                                <th class="text-white">Request Id</th>
                                <th class="text-white">Distributer Id</th>
                                <th class="text-white">Product Id</th>                             
                                <th class="text-white">Product Name</th>
                                <th class="text-white">Quantity</th>
                                <th class="text-white">Approve/Reject</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of getapp; let i=index">
                                <td>{{i+1}}</td>
                                <td class="requestid">{{data[0]}}</td>
                                <td class="distributerid">{{data[2]}}</td> 
                                <td class="productid">{{data[3]}}</td>
                                <td class="productname">{{data[4]}}</td>
                                <td class="quantity">{{data[5]}}</td>
                                <td ><button style="background-color:  #0f02" (click)="approve($event);invoice($event)">Approve</button><button style="background-color:  #ff0000"(click)="reject($event)">Reject</button></td>
                                
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
    

</div>

</div>
