<!--first row-->
<div class="clearfix">&nbsp;</div>
<div class="card rows">
    <div class="card-body">
        <div class="clearfix">&nbsp;</div>
        <div class="row rows">
          
            <div class="col-md-6">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <!-- <input type="text" [(ngModel)]="searchText" class="form-control btn-radius"
                        placeholder="Search By category"> -->
                </div>
            </div>
        </div>
        <!--second row-->
        <div class="row">
        
        </div>
        <div class="clearfix">&nbsp;</div>
       
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th class="text-white">S.No</th>
                                <th class="text-white">Request Id</th>
                                <th class="text-white">Manufacture Id</th>
                                <th class="text-white">Material Id</th>                             
                                <th class="text-white">Material Name</th>
                                <th class="text-white">Quantity</th>
                                <th class="text-white">Invoice</th>

                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of getapp; let i=index">
                                <td>{{i+1}}</td>
                                <!-- <td class="mid">{{data[0]}}</td> -->
                                <td class="requestid"  (click)="row($event)"><u style="color: #ff701d95;">{{data[0]}}</u></td>
                                <td class="manufactureid">{{data[1]}}</td>
                                <td class="materialid">{{data[3]}}</td>
                                <td class="materialname">{{data[4]}}</td>
                                <td class="quantity">{{data[5]}}</td>
                                <td ><button  (click)="get($event)">Invoice</button></td>



                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
    

</div>

</div>

<div class="modal" aria-labelledby="exampleModalLabel" aria-hidden="true" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}" style="margin-top: 6.5%">
    <div class="modal-dialog" role="document">
      <div class="modal-content"style="width: 128%;"  >
         <div class="modal-header">        
             <h4 class="modal-title" id="myModalLabel"  style="    margin: auto;">INVOICE</h4> 
           </div>
           <div class="invoice-box">
            <table cellpadding="0" cellspacing="0" id="pdff2">
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="../../../assets/upsteer.png" style="width:100%; max-width:300px;">
                                        </td>
                                        
                                        <td>
                                            Invoice #: 123<br>
                                            Created: January 1, 2015<br>
                                            Due: February 1, 2015
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            Sparksuite, Inc.<br>
                                            12345 Sunny Road<br>
                                            Sunnyville, CA 12345
                                        </td>
                                        
                                        <td>
                                            Acme Corp.<br>
                                            John Doe<br>
                                            john@example.com
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr class="heading">
                            <td>
                                Payment Method
                            </td>
                            
                            <td>
                                Check #
                            </td>
                        </tr>
                        
                        <tr class="details">
                            <td>
                                Check
                            </td>
                            
                            <td>
                                1000
                            </td>
                        </tr>
                        
                        <tr class="heading">
                            <td>
                                Item
                            </td>
                            
                            <td>
                                Price
                            </td>
                        </tr>
                        
                     
                        
                      
                        
                        <tr class="item last">
                            <td>
                                {{this.materialname}}
                            </td>
                            
                            <td>
                                {{this.cost}}
                            </td>
                        </tr>
                        
                        <tr class="total">
                            <td></td>
                            
                            <td>
                               Total: {{this.totalcost}}
                            </td>
                        </tr>
                    </table>
                
            
            
<!-- <table style="width:100%" id="pdff2">  
    <div class="row">
        <div class="col-md-6">
            <td>
                <tr >Time</tr>
                <tr >Supplier Id::</tr>
                <tr >Manufacture Id ::</tr>
                <tr >Material Id::</tr>                             
                <tr >Material Name::</tr>
                <tr >Quantity::</tr>
                <tr >Price per Unit::</tr>
                <hr>
                <tr >Total Price::</tr>
    
    
               
            </td>
        </div>
        <div class="col-md-6">
            <td  style="float:left ;"   *ngFor="let arrayres of data">
                <tr>{{time}}</tr>
                <tr> {{arrayres[1]}}</tr>
                <tr>{{arrayres[2]}}</tr>
                <tr>{{arrayres[3]}}</tr>
                <tr>{{arrayres[4]}}</tr>
                <tr>{{arrayres[5]}}</tr>
                <tr>{{arrayres[6]}}</tr>
                <hr>
                <tr>{{arrayres[7]}}</tr>
             </td>
        </div>
    </div>
       
   
</table> -->
           </div>
           <div class="modal-footer">
            <button mat-raised-button color="accent" data-dismiss="modal" style="margin-right: 25px;" (click)="onCloseHandled()">DOWNLOAD</button>

             <button mat-raised-button color="accent" data-dismiss="modal" style="margin-right: 25px;" (click)="pdf2();onCloseHandled()">PRINT</button>
           </div>
      </div>
    </div>
   </div>